@import '../../../scss/media.scss';



.title--green {
    color: #8cc63f
}


.form {
    background-color: whitesmoke;
    padding: 1rem;
    // margin: 5rem;
    margin-top: 0;
    padding-top: 2rem;


    @include tablet {
        width: 66%;
        margin: 0 auto;
        // margin-bottom: 5rem;
    }

    @include desktop {
        width: 40%;
        margin: 0 auto;
    }


    span {
        float: left;
        margin-left: 1rem;
        font-size: .8rem;
        line-height: 1.5;
    }


}



.button--green {
    background-color: #8BC34A;
    color: white;
    font-weight: 600;
    font-size: .8rem;
    padding: 1rem 1.5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}



.subscription {
    @include tablet {
        width: 90%;
    }

    p {
        color: white;
        z-index: 1;
        position: absolute;
    }

    h3 {
        font-size: 1.8rem;
        margin: 0;
    }

    &__container {

        position: absolute;
        z-index: 1;
        width: 85%;
    }

    &__price {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 2rem;
        display: block;
    }

    &__button {
        right: 0;
        position: absolute;
        z-index: 1;
        background-color: #b33a8a;
        color: white;
        padding: 1rem;
        font-size: 1rem;
        top: 4.5rem;
        border: solid 0px;
        font-weight: bold;
    }

    &__button--blue {
        right: 0;
        position: absolute;
        z-index: 1;
        background-color: #2e3092;
        color: white;
        padding: 1rem;
        font-size: 1rem;
        top: 4.5rem;
        border: solid 0px;
        font-weight: bold;
    }



    &__card--one {
        background-color: #b33b8a;
        color: white;
        border-radius: 15px;
        padding: 2rem;
        margin-bottom: 3.5rem;
        overflow: hidden;
        position: relative;
        height: 15rem;
        max-width: 25rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        z-index: 1;

    }

    &__card--one-b {
        content: "";
        position: absolute;
        background-color: #9f2c6a;
        height: 16rem;
        width: 28rem;
        transform: rotate(-47deg);
        top: 4rem;
        right: -9rem;
    }

    &__card--two {
        background-color: #2e3192;
        color: white;
        border-radius: 15px;
        padding: 2rem;
        margin-bottom: 3.5rem;
        overflow: hidden;
        position: relative;
        height: 15rem;
        max-width: 25rem;
        margin: 0 auto;
    }

    &__card--two-b {
        content: "";
        position: absolute;
        background-color: #282a80;
        height: 16rem;
        width: 28rem;
        transform: rotate(-47deg);
        top: 4rem;
        right: -9rem;
    }


    &__footer {
        font-size: .7rem;
        bottom: 0;
        width: 86%;

    }
}